{{set . "title" "Room" }}
{{template "header.html" .}}

<script type="text/javascript">

  var EVENT = {
    'MSG': 1,
    'NEW_USER': 2,
    'PING': 3,
    'USER_DISCONNECTED': 4
  }

  var WSURL = 'ws://'+window.location.host+'/room/{{.room.Id}}/sub'

  console.log('Using '+WSURL+' as stream source')
  var ws = new ReconnectingWebSocket(WSURL);

  ws.onopen = function() {
    console.log("Соединение установлено.");
  };

  ws.onclose = function(event) {
    if (event.wasClean) {
      console.log('Соединение закрыто чисто');
    } else {
      console.log('Обрыв соединения');
    }
    console.log('Код: ' + event.code + ' причина: ' + event.reason);
  };

  ws.onmessage = function(event) {
    var chatEvent = JSON.parse(event.data)
    if (chatEvent.Type == EVENT.MSG) {
      console.log('Event: new message', chatEvent.Payload);
      var msg = chatEvent.Payload;
      if (Visibility.state() != "visible") {
        console.log('Page is not visible. Sending notification', msg);
        showNotification(msg);
      }
      showMessage(msg);


    } else if (chatEvent.Type == EVENT.PING){
      console.log('Event: ping');

    } else if (chatEvent.Type == EVENT.NEW_USER){
      console.log('Event: new user');
      var info = chatEvent.Payload;
      // showMessage({'Text': 'New user '+info.Username+' connected.'})

    } else if (chatEvent.Type == EVENT.USER_DISCONNECTED) {
      var info = chatEvent.Payload;
      // showMessage({'Text': 'User '+info.Username+' disconnected.'})

    } else {
      console.log('Unknown event');
    }

  };

  ws.onerror = function(error) {
    console.log("Ошибка " + error.message);
  };

  var showMessage = function(msg){
    formatMessage(msg);
    var date = new Date();
    date.setTime(Date.parse(msg.CreateTime))
    msg.CreateTimePretty = date.toLocaleString()
    $("#messages").prepend(MESSAGE_TPL({msg: msg}));
  }

  var showNotification = function(msg){
    var n = new Notify(window.location.hostname+'['+{{.room.Id}}+']', {
      body: msg.Text,
      tag: "board" + {{ .room.Id }} + "#" + msg.Id,
      icon: msg.ImageUrl,
    });
    n.show();
  }

  var QUOTE_REGEX = new RegExp('^(\s*)>');
  var BOLD_REGEX = /[*]{2}([^*]+)[*]{2}/g;

  var formatMessage = function(msg){
    var newText = "";
    msg.RawText = msg.Text;
    var lines = msg.Text.split("\n");
    for(var i=0, l = lines.length; i < l; i++){
        var line = lines[i];
        if (line.match(QUOTE_REGEX)){
          line = '<span style="color: #789922">' + _.escape(line) + '</span>';
        } else {
          line = _.escape(line);
        }
        newText +=  line + "<br>";
    }
    newText = newText.replace(BOLD_REGEX, "<b>$1</b>");
    msg.Text = newText;
  }
  var MESSAGE_TPL;
  $(function(){

    MESSAGE_TPL = _.template($('#tpl-message').html());

    var notification = new Notify('Thanks!');
    if(notification.needsPermission()){
      notification.requestPermission();
    }

    $("#form").on('submit', function(e){
      var form = $(e.target);
      var text = $(':input[name=text]', form).val();
      if (!form[0].checkValidity()){
        form.submit();
        return false;
      }
      $.post(form.attr('action'), form.serialize());
      form.find(':input').val('');
      return false;
    });

    $.get("{{url "Room.History" .room.Id}}", function(data){
      $(data).each(function(idx, msg){
        showMessage(msg);
      })
    });

    $('body').on('click', '.reply', function(e){

      var quoteText;
      quoteText = $(e.target).parent().next().html();
      quoteText = quoteText.replace(/<br>/g, '');
      quoteText = quoteText.replace(/\n/g, '\n> ');
      quoteText += "\n\n"

      var textInput = $('#message-form').find('[name=text]')
      textInput.val(textInput.val() + '> ' + quoteText);
      $('#show-message-form').trigger('click');
      textInput.focus();
      return false;
    });

  });
</script>

<script type="text/javascript">
  $(function(){
    $("#message-form").hide();
    $("#show-message-form").show();

    $("#show-message-form").on('click', function(){
      $(this).hide();
      $("#message-form").show();
    });
    $("#hide-message-form").on('click', function(){
      $("#show-message-form").show();
      $("#message-form").hide();
    });

    $('#message-form').keydown(function (e) {
      if (e.ctrlKey && e.keyCode == 13) {
        $('form', this).submit();
        return false;
      }
    });

  });
</script>


<script id="tpl-message" type="text/x-jquery-tmpl">

<div class="media">
  <a class="pull-left" href="<%- msg.ImageUrl %>">
    <img style="width: 200px; height: auto;" class="media-object" src="<%- msg.ImageUrl %>" alt="">
  </a>
  <div style="padding-left: 20px;" class="media-body">
    <p>
      <i style="border-bottom: 1px dashed #ccc">Anonymous, <%- msg.CreateTimePretty %></i>
      <a class="reply" href="#">[Ответить]</a>
    </p>
    <p class="hide raw"><%= msg.RawText %></p>
    <p><%= msg.Text %></p>
  </div>
</div>
<br>
</script>

<br>
<div class="container">
  <div class="row">

  </div>

  <br><br>

  <div class="row">
    <div class="col-md-12">
      <div id="messages">

      </div>
    </div>
  </div>

  <br><br><br>

  <div style="padding: 15px 30px 0px 30px;" class="navbar navbar-default navbar-fixed-bottom">
    <div class="row">
      <div class="col-md-12">
        <button id="show-message-form" style="margin-bottom: 15px;" class="btn btn-primary">Ответить</button>
      </div>
    </div>

    <div id="message-form">
      <form id="form" method="post" action="{{url "Room.Publish" .room.Id}}">

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <textarea required style="resize: vertical; height: 200px;" class="form-control" name="text" placeholder="Текст сообщения"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
                <input class="form-control" type="text" value="" name="image_url" autocomplete="off" placeholder="Ссылка на картинку">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <button class="btn btn-primary" title="[Ctrl-Enter]" type="submit">Отправить</button>
              <span style="color: #ccc">&nbsp;&nbsp; (Ctrl-Enter)</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <button id="hide-message-form" class="btn btn-default" type="submit">Скрыть</button>
            </div>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>

{{template "footer.html" .}}
