<!DOCTYPE html>
{{set . "STATIC_URL" "/public/" }}
<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" type="text/css" href="{{.STATIC_URL}}css/bootstrap.css">
    <link rel="shortcut icon" type="image/png" href="{{.STATIC_URL}}img/favicon.png">

    <script src="{{.STATIC_URL}}js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{.STATIC_URL}}js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{.STATIC_URL}}js/reconnecting-websocket.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{.STATIC_URL}}js/jquery.tmpl.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{.STATIC_URL}}js/visibility-1.1.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{.STATIC_URL}}js/notify.js" type="text/javascript" charset="utf-8"></script>

    <script src="{{.STATIC_URL}}js/swfobject.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{.STATIC_URL}}js/web_socket.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
      var WEB_SOCKET_SWF_LOCATION = "{{.STATIC_URL}}obj/WebSocketMain.swf";
    </script>

    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="{{.STATIC_URL}}{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="{{.STATIC_URL}}{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
